<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<div class="contenedor">
		<form th:action="@{/ingresarLibro}" th:object="${libro}" method="post">
			<h2 class="titulo-form">Ingresar libro</h2>
			
			<input type="hidden" th:field="*{idLibro}">
			
			<label>Titulo:</label> 
			<input type="text" th:field="*{titulo}" placeholder=" "><br>
			<span th:errors="*{titulo}" style="color: #E81505"></span> <br>
			
			<label>Autor:</label> 
			<input type="text" th:field="*{autor}" placeholder=" "> <br> 
			<span th:errors="*{autor}" style="color: #E81505"></span>  <br>
			
			<label>ISBN:</label> 
			<input type="text" th:field="*{isbn}" placeholder=" "><br>
			<span th:errors="*{isbn}" style="color: #E81505"></span>  <br>
			
			<label>Categoria :</label>
				<select th:field = "*{categoria.idCategoria}">
					<option th:each = "cat:${categorias}"
						th:value = "${cat.idCategoria}"
						th:text = "${cat.categoria}">
					</option>
				</select> <br>
				
			<label>Estado:</label> 
			<input type="checkbox" id="estado"  th:field="*{estado}" >Disponible <br>
			
			<input class="boton" type="submit" value="Ingresar libro"> <br>
		</form>
		<a href="/libros">
			<input class="boton-regresar" type="submit" value="Ver libros">
		</a>
	</div>
</body>
</html>