<!DOCTYPE html>
<html xmlns:th=http://www.thymeleaf.org>
<head>
<meta charset="ISO-8859-1">
<title>Inicio</title>

</head>
<body>
	<div>
		<a th:href="@{/categoriaFormulario}">
			<input class="add-buttom" type="submit"  value="Ingresar Categoria">
		</a><br><br>
		<a th:href="@{/libroFormulario}">
			<input class="add-buttom" type="submit"  value="Ingresar Libro">
		</a><br><br>
		<a th:href="@{/libros}">
			<input class="add-buttom" type="submit"  value="Ver Libros">
		</a><br><br>
		<p class="titulo-resultado" th:text = "${exito}"></p>
		<p class="titulo-resultado" th:text = "${exito2}"></p>
	</div>
</body>
</html>